#landing-wrapper {
    height: 100vh;
    width: 100vw;
}
#landing-text {
    position: absolute;
    top: 400px;
    left: 100px;
    width: 500px;
    font-size: 20px;
    color: #e2e2e2;
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-align: left;
    transition: all .5s ease-in-out;
}

@media(max-width: 1315px) {
    #landing-text {
        top: 375px;
        font-size: 16px;
    }
    #landing-logo {
       height: 65px;
       width: 455px;
    }
}
@media(max-width: 1200px) {
    #landing-text {
        top: 350px;
    }
    #landing-logo {
       height: 50px;
       width: 350px;
    }
}
@media(max-width: 1040px) {
    #landing-text {
        top: 310px;
    }
    #landing-logo {
       height: 50px;
       width: 350px;
    }
}
@media(max-width: 950px) {
    #landing-text {
        top: 270px;
        width: 30%;
        min-width: 290px;
        left: 50px;
    }
    #landing-logo {
       height: 40px;
       width: 280px;
    }
}
@media(max-width: 750px) {
    #landing-text {
        top: 150px;
    }
    #landing-logo {
        opacity: 0;
    }
}

