.section-wrapper {
    position: relative;
    height: 500px;
    display: flex;
    width: 90%;
    margin: 15% 5%;
}
.section-text {
    position: absolute;
    right: 300px;
    font-family: 'Lato', sans-serif;
    width: 20%;
    color: #696969;
}
.section-text-reverse {
    position: absolute;
    font-family: 'Lato', sans-serif;
    width: 20%;
    color: #696969;
}
#image-visible {
    opacity: 1;
    transition: opacity .5s ease-in-out;
    position: relative;
    z-index: 999;
}
#image-hidden {
    opacity: 0;
    transition: opacity .5s ease-in-out;
}
#text-visible {
    margin-top: 15%;
    opacity: 1;
    transition: all .5s ease-in-out;
}
#text-hidden {
    opacity: 0;
    transition: opacity .5s ease-in-out;
}
@media (max-width: 1525px) {
    .section-wrapper {
        margin: 8% 5%;
    }
    #text-visible {
        margin-top: 5%;
    }
}
@media (max-width: 1315px) {
    .section-wrapper {
        margin: 3% 12.5%;
        height: 400px;
    }
    #text-visible {
        font-size: 14px;
        margin-top: 0;
    }
}

@media (max-width: 900px) {
    .section-text {
        right: 100px;
        width: 30%;
    }
}

@media (max-width: 745px) {
    .section-wrapper {
        margin: 25% 15.5%;
    }
    .section-text, .section-text-reverse {
        top: 75%;
        left: 15%;
        width: 45%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
}

@media (max-width: 495px) {
    .section-wrapper {
        margin: 40% 11.5%;
    }
    .section-text, .section-text-reverse {
        top: 75%;
        left: 15%;
        width: 55%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
}