#menu-wrapper {
    position: absolute;
    right: 0px;
    width: 50%;
    transition: all 1s ease-in-out;
}
.menu-item {
    color: white;
    font-family: 'Avenir', sans-serif;
    font-weight: 300;
    margin: 2%;
    border: 1px solid rgba(255, 255, 255, 0.0);
    padding: 1%;
    transition: all .3s linear;
    cursor: pointer;
}
.menu-item:hover {
    border: 1px solid white;
}
@font-face {
    font-family: Avenir;
    src: url('../../../assets/AvenirLTStd-Light.otf');
}