#whynoble-wrapper {
    height: 150%;
    background-color: black;
}
#whynoble-content {
    background-image: url("../../assets/images/construction.jpg");
    background-size: cover;
    height: 100%;
    width: 100%;
    transition: 1s all ease-in-out;
}
#whynoble-header {
    font-family: Doughboy;
    font-size: 50px;
}
.whynoble-body {
    font-family: 'Lato', sans-serif;
    width: 75%;
    font-size: 20px;
}
#whynoble-text {
    color: white;
    padding: 15% 10%;
}
#whynoble-call-to-action {
    font-size: 25px;
}

/* responsive-width */
@media (max-width: 1000px) {
    #whynoble-header {
        font-size: 40px;
    }
    .whynoble-body {
        font-size: 15px;
    }
    #whynoble-call-to-action {
        font-size: 20px;
    }
}
@media (max-width: 645px) {
    #whynoble-header {
        font-size: 30px;
    }
    .whynoble-body {
        font-size: 16px;
    }
    #whynoble-call-to-action {
        font-size: 19px;
    }
}
@media (max-width: 360px) {
    .whynoble-body {
        font-size: 14px;
    }
}
@media (max-width: 320px) {
    .whynoble-body {
        font-size: 10px;
    }
}