#call-to-action-wrapper {
    height: 45%;
    width: 90%;
    background-image: url("../../assets/images/granite-level-1.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5%;
}
#call-to-action-box {
    border: 5px solid white;
    padding: 30px;
    color: white;
    font-family: 'Lato', sans-serif;
    width: 25%;
    text-align: center;
}
@media (max-width: 1258px) {
    #call-to-action-box {
        font-size: 14px;
    }
}
@media (max-width: 1100px) {
    #call-to-action-box {
        width: 30%;
    }
}
@media (max-width: 930px) {
    #call-to-action-box {
        width: 40%;
    }
}
@media (max-width: 930px) {
    #call-to-action-box {
        width: 50%;
    }
}
@media (max-width: 600px) {
    #call-to-action-box {
        width: 60%;
    }
}
@media (max-width: 460px) {
    #call-to-action-box {
        width: 80%;
    }
}