#contact-filler {
    height: 30%;
}
#contact-wrapper {
    height: 70%;
    margin-top: 2%;
}
#contact-middle {
    width: 30%;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
    margin: 2% 5% 5% 10%;
    transition: all .5s ease-in-out;
    min-width: 20%;
}
#contact-body {
    height: 100%;
    font-family: 'Doughboy';
    font-size: 36px;
    margin-left: 10%;
    color: grey;
    display: flex;
    justify-content: space-evenly;
}
.contact-greeting {
    transition: all .5s ease-in-out;
}
#contact-right-img {
    transition: all .5s ease-in-out;
    float: right;
}
/* responsive width */
@media (max-width: 1250px) {
    #contact-body {
        font-size: 28px;
    }
}
@media (max-width: 1050px) {
    #contact-body {
        font-size: 26px;
    }
}
@media (max-width: 1000px) {
    #contact-right-img {
        margin-right: 5%;
    }
}
@media (max-width: 885px) {
    #contact-right-img {
        margin-right: 10%;
        height: 70px;
    }
}
@media (max-width: 735px) {
    #contact-right-img {
        height: 70px;
        margin-right: 20%;
    }
    #contact-middle {
        font-size: 18px;
    }
}
@media (max-width: 650px) {
    #contact-right-img {
        display: none;
    }
    #contact-middle {
        font-size: 20px;
    }
}

/*  responsive height */
@media (max-height: 820px) {
    #contact-body {
        font-size: 26px;
    }
    #contact-middle {
        font-size: 18px;
    }
}
@media (max-height: 690px) {
    #contact-body {
        font-size: 20px;
    }
    #contact-middle {
        font-size: 16px;
    }
}
@media (max-height: 620px) {
    #contact-body {
        font-size: 18px;
    }
    #contact-middle {
        font-size: 14px;
    }
}


