#moving-menu-wrapper {
    background-color: white;
    width: 96%;
    padding: 1% 2% 3% 3%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1005;
    transition: all 1s ease-in-out;
}
#moving-menu-item-wrapper {
    display: flex;
    position: relative;
    justify-content: flex-end;
    width: 70%;
    transition: all 1s ease-in-out;
    z-index: 1004;

}
#menu-icon {
    height: 30px;
    opacity: 0;
    cursor: pointer;
}
.moving-menu-item {
    color: black;
    font-family: 'Avenir', sans-serif;
    font-weight: 300;
    margin: 2%;
    padding: 1%;
    cursor: pointer;
    border: 1px white solid;
    transition: all 1s ease-in-out;
    padding: 2%;

}
.moving-menu-item:hover {
    border: 1px black solid;
}
@media (max-width: 750px) {
    #moving-menu-wrapper {
        opacity: 1 !important;
    }
    .moving-menu-item {
        margin: 1%;
    }
}
@media (max-width: 650px) {
    #moving-menu-item-wrapper {
        height: 0px;
        flex-direction: column;
    }
    #menu-icon {
        opacity: 1;
    }
}